.best__boards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.detail__good__icon path {
  color: #f66a6a;
}

@media (max-width: 1279px) {
  .best__boards {
    grid-template-columns: repeat(2, 1fr);
  }
}
