* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-weight: 500;
    color: #000000;
    line-height: 24px;
    font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
        'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

.root {
    width: 100%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.row__sort__40 {
    display: flex;
    gap: 40px;
}

.column__sort {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.row__sort__4 {
    display: flex;
    gap: 4px;
}

.sub__title {
    color: #333333;
}
.necessary__point {
    color: #f66a6a;
}

.input__text,
.input__number,
.textarea__text {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #d4d3d3;
}
.input__text::placeholder,
.input__number::placeholder,
.textarea__text::placeholder {
    font-weight: 400;
    color: #ababab;
}

.error {
    color: #f66a6a;
}

.div {
    border-bottom: 1px solid #e4e4e4;
}

.textarea__text {
    height: 336px;
    resize: none;
}

.row__sort__8 {
    display: flex;
    gap: 8px;
}

.input__number {
    width: 82px;
}

.row__sort__16 {
    display: flex;
    gap: 16px;
}

.img__section {
    position: relative;
}
.img {
    width: 160px;
    height: 160px;
    background-color: #f2f2f2;
}
.img__upload {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.img__plus {
    width: 40px;
}
.img__text {
    font-weight: 400;
    color: #777777;
}

footer {
    display: flex;
    justify-content: end;
}

.white__btn,
.blue__btn {
    padding: 12px 16px;
    border-radius: 8px;

    font-size: 18px;
    font-weight: 600;

    cursor: pointer;
}
.white__btn {
    border: 1px solid #000000;
    background-color: #ffffff;
}
.blue__btn {
    border: none;
    background-color: #2974e5;
    color: #ffffff;
}
