.lodging__img {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}
.lodging__img__cover {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 29.14%, rgba(0, 0, 0, 0.9) 100%);
}

.bookmark__section {
  position: absolute;
  top: 24px;
  right: 24px;
}

.lodging__txt__section {
  position: absolute;
  bottom: 0;
}
.lodging__txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
