.input__text::placeholder {
  font-weight: 400;
  color: #ababab;
}

.textarea__text {
  height: 336px;
}
.textarea__text::placeholder {
  font-weight: 400;
  color: #ababab;
}

@media (max-width: 780px) {
  .input__title {
    flex-direction: column;
    gap: 16px;
  }
  .mobile__gap {
    gap: 16px;
  }

  .textarea__text {
    height: 120px;
  }
}
