.search__input {
  width: 520px;
}
.search__input::placeholder {
  color: #919191;
  font-weight: 400;
}

.search__date {
  border: none;
}
.search__date:hover {
  background-color: #f2f2f2;
}

@media (max-width: 1279px) {
  .search__input {
    width: 300px;
  }
  .search__date {
    flex-grow: 1;
  }
}

@media (max-width: 780px) {
  .search__input__section {
    width: 100%;
  }
  .search__input {
    width: 100%;
  }
  .search__date {
    padding: 8px 12px;
  }
  .search__btn {
    width: 100%;
  }

  .submit__btn {
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 999;
  }
}
