.lodging__img {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 16px;
  overflow: hidden;
}

.reserve__bookmark__section {
  position: absolute;
  top: 16px;
  right: 16px;
  background: #00000066;
  border-radius: 8px;
  padding: 4px 8px;
}
.bookmark__img {
  filter: invert(1);
}
