.input__text,
.input__number,
.textarea__text {
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #d4d3d3;
}
.input__text::placeholder,
.input__number::placeholder,
.textarea__text::placeholder {
  font-weight: 400;
  color: #ababab;
}
.textarea__text {
  height: 336px;
  resize: none;
}
.input__number {
  width: 82px;
}

.img__section {
  position: relative;
}
.img {
  width: 160px;
  height: 160px;
  background-color: #f2f2f2;
  border-radius: 8px;
}
.img__upload {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img__plus {
  width: 40px;
}

.footer {
  display: flex;
  justify-content: end;
}

.white__btn,
.blue__btn {
  padding: 12px 16px;
}
.blue__btn {
  border: none;
  border-radius: 8px;
  background-color: #2974e5;
}
.blue__btn:disabled {
  background-color: #c7c7c7;
  color: #e4e4e4;
  cursor: auto;
}
