.list__title {
  padding: 16px 24px;
}
.list__subtitle__64 {
  width: 64px;
  text-align: center;
}
.list__subtitle__100 {
  width: 100px;
  text-align: center;
}

.list__list {
  border-radius: 8px;
  border: 1px solid #f2f2f2;
  padding: 12px 24px;
  position: relative;
}

.img__delete {
  display: none;
  position: absolute;
  top: 11px;
  right: 8px;
}
.list__list:hover {
  .img__delete {
    display: block;
  }
}
