.comment__write {
  padding: 40px 0;
}

.comment__star {
  display: flex;
  gap: 8px;
}
.comment__star li {
  width: 24px;
  display: flex !important;
  justify-content: center;
  margin: 0 !important;
}
.comment__star :global(.ant-rate-star-full svg) {
  fill: #fadb14;
}
.comment__star :global(.ant-rate-star-zero svg) {
  fill: #c7c7c7;
}

.comment__input__section {
  width: 640px;
}

.comment__textarea__section {
  position: relative;
  height: 144px;
}

.comment__input,
.comment__textarea {
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #d4d3d3;
}
.comment__textarea {
  resize: none;
}
.comment__text__count {
  position: absolute;
  right: 16px;
  bottom: 12px;
}
.comment__input::placeholder,
.comment__textarea::placeholder,
.comment__text__count {
  font-weight: 400;
  color: #ababab;
}

.black__btn {
  border-radius: 8px;
  background-color: #000000;
  color: #ffffff;
  padding: 12px 16px;
  cursor: pointer;
}
.black__btn:disabled {
  background-color: #c7c7c7;
  color: #e4e4e4;
  cursor: auto;
}
