.profile__img {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.youtube {
  padding: 24px;
  background-color: #f2f2f2;
  position: relative;
}

.detail__bad__icon path {
  color: #5f5f5f;
}
.detail__good__icon path {
  color: #f66a6a;
}

.white__btn {
  padding: 8px 12px;
}
