.houseplants {
  padding: 24px;
  background-color: #f2f2f2;
  position: relative;
}
.houseplants__img {
  width: 100%;
  max-width: 822px;
  height: 100%;
  max-height: 464px;
  aspect-ratio: 16 / 9;

  object-fit: cover;
  object-position: center;
  filter: brightness(0.6);
}
.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.detail__bad__icon path {
  color: #5f5f5f;
}
.detail__good__icon path {
  color: #f66a6a;
}

.white__btn {
  padding: 8px 12px;
}
