.bookmark__icon {
  padding: 4px 8px;
  border-radius: 8px;
  background: #00000066;
  box-shadow: 0px 0px 8px 0px #00000040;
}

.product__img__section {
  max-height: 480px;
  overflow-y: scroll;
}
.product__detail__img {
  position: relative;
  width: 180px;
  height: 136px;
}

.price__section {
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  padding: 24px;
}
.price__txt {
  list-style-position: inside;
}

.seller__section {
  border-radius: 8px;
  background-color: #f2f2f2;
  padding: 24px;
}
.purchase__profile {
  border-radius: 100%;
  object-fit: cover;
}

.product__location {
  width: 844px;
  height: 280px;
  border: 1px solid #e4e4e4;
  border-radius: 16px;
  background-color: #e4e4e4;
}

.textarea__section {
  position: relative;
}
.textarea {
  height: 144px;
  border: 1px solid #d4d3d3;
  border-radius: 8px;
  padding: 12px 16px;
  resize: none;
}
.textarea__count {
  position: absolute;
  right: 16px;
  bottom: 12px;
}
.qna__btn {
  padding: 12px 16px;
}
