.lodging__img {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 16px;
  overflow: hidden;
}
.lodging__img__cover {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 29.14%, rgba(0, 0, 0, 0.9) 100%);
}
.bookmark__section {
  position: absolute;
  top: 24px;
  right: 24px;
  background: #00000066;
  border-radius: 8px;
  padding: 4px 8px;
}
.bookmark__img {
  filter: invert(1);
}
.lodging__txt__section {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 24px;
}
.lodging__txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.event__section {
  position: relative;
  background-color: #cccbb4;
  overflow: hidden;
  max-height: 240px;
  border-radius: 16px;
}
.event__img {
  position: relative;
  width: 40%;
  aspect-ratio: 1 / 1;
}
.event__cover {
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, rgba(204, 203, 180, 0) 63.44%, #cccbb4 88.18%);
}

.event__txt__section {
  padding: 48px;
}
.event__txt {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #abaa8c;
}

.lodging__btn {
  padding: 8px 16px;
  cursor: pointer;
}

.reserve__icon__section {
  padding: 16px 0;
}
.reserve__icon {
  width: 100px;
}

.reserve__section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 32px;
}
.reserve__bookmark__section {
  position: absolute;
  top: 16px;
  right: 16px;
  background: #00000066;
  border-radius: 8px;
  padding: 4px 8px;
}

.profile__img {
  border-radius: 100%;
}
