.input__number {
  width: 82px;
}
.textarea__text {
  height: 336px;
}
.input__text::placeholder,
.input__number::placeholder,
.textarea__text::placeholder {
  font-weight: 400;
  color: #ababab;
}

.purchase__address {
  width: 396px;
}
.input__purchase__text::placeholder {
  font-weight: 400;
  color: #919191;
}

.img {
  width: 160px;
  height: 160px;
}
.img__delete__section {
  width: 24px;
  height: 24px;
  display: none;
  position: absolute;
  top: 12px;
  right: 12px;
}
.img__upload:hover .img__delete__section {
  display: block;
}
.img__upload {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.submit__btn:disabled {
  background-color: #c7c7c7;
  color: #e4e4e4;
  cursor: auto;
}
