.search__section {
  width: 640px;
}

.detail__section {
  max-height: 656px;
  overflow: scroll;
}

.item__section:hover .delete__icon {
  display: block;
}

.delete__icon {
  display: none;
  position: absolute;
  top: 10px;
  right: 8px;
}
