.navigation__menu {
  padding: 8px;
}
.navigation__active {
  font-weight: 700;
  color: #000000;
  border-bottom: 2px solid #000000;
}

.profile__img {
  background-color: #e4e4e4;
  border-radius: 100px;
}
