.img__delete {
  display: none;
  position: absolute;
  top: 11px;
  right: 8px;
}
.list__list:hover .img__delete {
  display: block;
}

@media (max-width: 780px) {
  .list__title {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .list__date {
    width: 64px;
  }

  .img__delete {
    top: 6px;
    right: 2px;
  }
}
