.lodging__img {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 16px;
  overflow: hidden;
}
.lodging__img__cover {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 29.14%, rgba(0, 0, 0, 0.9) 100%);
}

.bookmark__section {
  position: absolute;
  top: 24px;
  right: 24px;
  background: #00000066;
  border-radius: 8px;
  padding: 4px 8px;
}
.bookmark__img {
  filter: invert(1);
}

.lodging__txt__section {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 24px;
}
.lodging__txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
