.search__section {
  width: 640px;
  border-radius: 8px;
  padding: 12px;
  background-color: #f2f2f2;
}
.search__bar {
  width: 100%;
  border: none;
  background-color: transparent;
}
.search__btn {
  border-radius: 8px;
  padding: 12px 16px;
  background-color: #000000;

  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.detail__num {
  width: 64px;
  color: #1c1c1c;
  line-height: 20px;
  text-align: center;
}
.delete__icon {
  display: none;
  position: absolute;
  top: 10px;
  right: 8px;
  cursor: pointer;
}
.item__section:hover .delete__icon {
  display: block;
}
.item__num {
  width: 64px;
  text-align: center;
}
