.banner__pagination :global(.swiper-pagination-bullet) {
  background: #ffffffcc;
}
.banner__pagination :global(.swiper-pagination-bullet-active) {
  background: #ffffff;
}

.banner__style::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}
.banner__image {
  width: 100%;
  height: 516px;
  object-fit: cover;
  object-position: center 70%;
}
